
<!-- Button trigger modal -->


<!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog" 
     aria-labelledby = "myModalLabel" aria-hidden = "true">

    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                {% if cls != 0 %}
                    {%set showWin = 'false' %}
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                    ×
                </button>
                {% else %}
                    {%set showWin = 'true' %}
                {% endif %}
                
                
                <h4 class = "modal-title" id = "myModalLabel">
                    Please complete your information.
                </h4>
            </div>

            <div class = "modal-body">
                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-6">
                        {{ form_start(edit_form, {'method': 'post', 'action': path('userlocal_edit',{id:idLocal}), 'attr': {'class': 'fos_user_registration_register omb_loginForm'}}) }}

{#                            {{ form_widget(edit_form) }}#}
                            
                            <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i> Full Name:</span>
                                    {{ form_widget(edit_form.fullName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i> Phone:</span>
                                    {{ form_widget(edit_form.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            
                            {{ form_rest(edit_form) }}
                            
                            
                            <input type="submit" value="Edit" id="editUsr"  style="display: none" />

                        {{ form_end(edit_form) }}

                    </div>
                </div>
            </div>

            <div class = "modal-footer">
                {% if cls != 0 %}
                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                        Close
                    </button>
                {% endif %}
                
                <button type = "button" class = "btn btn-primary" id="usrSv" onclick="$('#editUsr').click();">
                    Submit changes
                </button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<script>
    $(function () {
        $('#myModal').modal({
            keyboard: false,
            backdrop: 'static',
            show: {{showWin}}
        });
    });
</script>


